
//- Markup
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title= 'adminBookmarklet v2.8'
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
    style
      != '.btn-facebook{background:#3b5998; color: #fff;}'
      != '.btn-twitter{background:#1da1f2; color: #fff;}'
  body


    div.container.text-center
      h1
        | adminBookmarklet v2.8

      div.jumbotron
        p.lead
          | Access your systems login with only 1 click.
          br
          | For further information, see the <a href="https://github.com/tomlutzenberger/adminBookmarklet" target="_blank">README</a> file.
        p
          | Click the button below or drag it to your bookmark bar.
        p
          | <a class="btn btn-lg btn-primary" target="_blank" role="button" href="
          include ../adminBookmarklet.min.js
          | ">🛠 admin</a>


      h2.h3 Share
      p
        a.btn.btn-sm.btn-facebook(href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftomlutzenberger.github.io%2FadminBookmark%2F' target='_blank')
          i.fa.fa-fw.fa-facebook
          != '&nbsp;Share'

        != '&nbsp;'

        a.btn.btn-sm.btn-twitter(href='https://twitter.com/share?text=adminBookmarklet%20-%20Access%20your%20systems%20login%20with%20only%201%20click.&url=https%3A%2F%2Ftomlutzenberger.github.io%2FadminBookmark%2F&via=t0mlutzenberger&hashtags=javascript%2Cbookmarklet' target='_blank')
          i.fa.fa-fw.fa-twitter
          != '&nbsp;Tweet'

      footer.navbar.navbar-default
        .row
          .col-xs-12.text-center
            != 'Made with &#x2764;'
            br
            != '&copy; 2017 by '
            a(href='https://tomlutzenberger.de' target='_blank') Tom Lutzenberger

    script(src='https://use.fontawesome.com/0a3e84e616.js')
