-
  var appName = 'adminBookmarklet v3.0'

  var appIcon = {
    'type' : 'stacked',
    'icons': [
      'fa-bookmark',
      'fa-cogs fa-inverse fa-fix-align'
    ]
  }

  var metaSocial = {
    'twitter': {
      'card': 'summary_large_image',
      'site': '@t0mlutzenberger',
      'creator': '@t0mlutzenberger'
    },
    'og': {
      'image': 'https://tomlutzenberger.github.io/adminBookmarklet/og-image.jpg',
      'description': 'Access your systems login with only 1 click',
      'url': 'https://tomlutzenberger.github.io/adminBookmarklet/',
      'title': appName
    }
  }

  var socialButtons = [
    {
      'key': 'facebook',
      'label': 'Share',
      'title': 'Share on Facebook',
      'url': 'https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftomlutzenberger.github.io%2FadminBookmarklet%2F',
      'icon': {'type': 'single', 'icons': ['fa-fw fa-lg fa-facebook']}
    },
    {
      'key': 'twitter',
      'label': 'Tweet',
      'title': 'Post a tweet',
      'url': 'https://twitter.com/share?text=adminBookmarklet%20-%20Access%20your%20systems%20login%20with%20only%201%20click.&url=https%3A%2F%2Ftomlutzenberger.github.io%2FadminBookmarklet%2F&via=t0mlutzenberger&hashtags=javascript%2Cbookmarklet',
      'icon': {'type': 'single', 'icons': ['fa-fw fa-lg fa-twitter']}
    },
    {
      'key': 'github',
      'label': 'Contribute',
      'title': 'Contribute on GitHub',
      'url': 'https://github.com/tomlutzenberger/adminbookmarklet',
      'icon': {'type': 'single', 'icons': ['fa-fw fa-lg fa-github']}
    },
  ]

  var systems = [
    {'key': 'cloudrexx',   'title': 'Cloudrexx'},
    {'key': 'drupal',      'title': 'Drupal'},
    {'key': 'jimdo',       'title': 'Jimdo'},
    {'key': 'joomla',      'title': 'Joomla!'},
    {'key': 'magento',     'title': 'Magento'},
    {'key': 'pimcore',     'title': 'Pimcore'},
    {'key': 'sefrengo',    'title': 'Sefrengo'},
    {'key': 'typo3',       'title': 'Typo3'},
    {'key': 'weebly',      'title': 'Weebly'},
    {'key': 'wordpress',   'title': 'Wordpress'},
    {'key': 'xt-commerce', 'title': 'XT-commerce'},
  ]

include ./includes/mixins.pug

doctype
html(lang="en")
  head
    +metaBootstrap
    title= appName
    +css("./dist/css/adminBookmarklet.min.css")
    +metaSocial(metaSocial)
    +metaFavicon(appName, '#222222', '#ff7700')
  body

    +navbar(appName, 'center', appIcon)(class="navbar-default navbar-fixed-top")

    main.text-center
      section
        .container
          .page-header
            h1 Access your systems login with only 1 click
          .row
            .col-xs-12.col-md-8.col-md-offset-2
              p.lead adminBookmarklet is a dynamic bookmark written in pure JavaScript to quickly access the login page of your CMS or E-Commerce system.
              p
                strong Click the button below or drag it to your bookmark bar.
              p
                | <a class="btn btn-lg btn-primary" target="_blank" role="button" title="Get adminBookmarklet" href="
                include ../adminBookmarklet.min.js
                | ">
                | <span class="sr-only">⚙🔖</span>
                +faIcon(appIcon)(class="app-icon app-icon-inverse")
                | adminBookmarklet</a>
              p.
                For further information, see the #[a(href="https://github.com/tomlutzenberger/adminBookmarklet" target="_blank" title="Open README") README] file on GitHub.

      section
        .container
          .row
            .col-xs-12.col-md-8.col-md-offset-2
              h2 Supported systems
              p.systems
                each system in systems
                  img(src=`https://raw.githubusercontent.com/tomlutzenberger/adminBookmarklet/master/assets/${system.key}.png` alt=system.title)

    +footer(socialButtons)
